*{
  margin: 0;
  padding: 0;
}
body{
  background: rgb(196, 22, 53);
}
header, .main, footer{
  width: 90%;
  max-width: 1000px;
  margin:20px auto;
}

header nav{
  background: rgb(15, 210, 180);
  overflow: hidden;
}
/*ucultar el contenido que sobrepasa nuestro contenedor , si tenemos
un contenido muy grande no cabe en nuestro contenerdo
lo desaparecemos, otra nos limpia nuestros float left o float right
en el mismo espacio*/

header nav ul{
  list-style: none;
}

header nav ul li{
  float: left;
}
header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: rgb(30, 73, 61);
    text-decoration: none;
}
header nav ul li a:hover {
  background:rgb(156, 55, 0);
}

.main .article {
  width:70%;
  float: left;
  background: rgb(31, 53, 207);
}
aside{
  width:30%;
  background:#ff8000;
  float:left;
  padding:20px;
  box-sizing:border-box;
}

footer {
  background: #000;
  color: #fff;
  clear: both;/*linpia apartir de aqui los float left*/
  text-align: center;
  padding: 20px 0px;
}
